@charset "utf-8";
/*弹出层样式*/
.ui_dialog_mask {position:absolute;top:0;left:0;width:100%;background:#000;opacity:.5;filter: Alpha(Opacity=50);}
.ui_dialog_iframe_for_ie6 {position:absolute;top:0;left:0;z-index:9998;width:100%;filter: Alpha(Opacity=0);}
.ui_dialog_window {position:fixed;top:50%;left:50%;background:#fff;width:400px;font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif; box-shadow: 1px 3px 5px #666;}
.ui_dialog_hd {background: #fff; padding: 0; height:50px; line-height: 50px;cursor: move; color: #555; position: relative;}
.ui_dialog_hd h3 {font-size:16px;overflow:hidden;font-weight: normal; margin-left: 10px;}
.ui_dialog_close {width:50px;height:50px; position: absolute;top:0;right:0; background: url(../images/icon_close.gif) no-repeat 0 0;}
.ui_dialog_bd{padding:10px;clear:both;}
.ui_dialog_type_alert .ui_dialog_bd, .ui_dialog_type_confirm .ui_dialog_bd{background:url(../images/icon_tips.gif) no-repeat 20px 50%; line-height: 80px;
    padding-left: 60px; font-size: 14px;}
.loading {background:#fff url(../images/loading.gif) no-repeat 50% 50%;}
.ui_dialog_ft {padding: 5px 0; background:#fff; text-align: center;border-radius:0 0 5px 5px;border-top:1px solid #eee;}
.btn{display:inline-block;*zoom:1;padding:5px 15px;font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;text-decoration:none; vertical-align:middle; cursor:default;border:0;line-height: 1.8; white-space: nowrap; cursor: pointer;}
.btn:hover{color:#fff;text-decoration:none; }
.btn_enter, .btn_cancel{ color:#fff; background:#40BFA5;padding:5px 15px; margin:0 5px; display: inline-block; *zoom:1;}
.btn_enter:hover{ color: #fff;}
.btn_cancel { color: #555; background: #E5E5E5;}
.btn_cancel:hover {color: #555;}




